
<div class="navbar"> 
   <div class="navbar-inner"> 
    <div class="container"> 
     <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> 
     <a class="brand" href="./">iKBCity</a> 
     <div class="nav-collapse collapse" id="main-menu">
      <ul class="nav"> 
       <li>
		   
        <form class="pull-left navbar-search input-append searchform" id="" action=""> 
         	<input type="text" class="input-xlarge" id="appendedInput" placeholder="搜索话题、文章或人..." />
		 	<span class="add-on btn"><i class="icon-search icon-large" onClick="console.log(234);"></i></span>
        </form>
		
		</li>
		
       <li><a id="swatch-link" href="../#gallery">发现</a></li>
       <li><a id="swatch-link" href="../#gallery">话题</a></li> 
       <li class="dropdown"> <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#">Books<b class="caret"></b></a> 
        <ul class="dropdown-menu" id="swatch-menu"> 
         <li><a href="../default">Default</a></li> 
         <li class="divider"></li> 
         <li><a href="../superhero">Superhero</a></li> 
         <li><a href="../united">United</a></li> 
        </ul> </li> 
       <li class="dropdown" id="preview-menu"> <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#">消息<b class="caret"></b></a> 
        <ul class="dropdown-menu"> 
         <li><a target="_blank" href="bootstrap.min.css">bootstrap.min.css</a></li> 
         <li class="divider"></li> 
         <li><a target="_blank" href="bootswatch.less">bootswatch.less</a></li> 
        </ul> 
	   </li> 
		
       <li class="dropdown" id="preview-menu"> <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#">发布<b class="caret"></b></a> 
        <ul class="dropdown-menu"> 
         <li><a target="_blank" href="article/create">发布新文章</a></li> 
         <li class="divider"></li> 
         <li><a target="_blank" href="book/create">发布新 Book</a></li> 
        </ul> 
	   </li>
      </ul> 
      
	  <ul class="nav pull-right" id="main-menu-right"> 
		
		{if="$isLogin"}
		
	        <li class="dropdown" id="preview-menu"> 
			<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#" style="padding:5px"> 
				<img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮">
				{$loginUser->username} 
			</a> 
	         <ul class="dropdown-menu"> 
 			  <li><a target="_blank" href="article/create"><i class="icon-user"></i> 我的主页</a></li>
	          <li><a target="_blank" href="article/create"><i class="icon-cogs"></i> 设置</a></li> 
 
	          <li class="divider"></li> 
	          <li><a href="user/logout"><i class="icon-off"></i> 退出</a></li> 
	         </ul> 
	 	   </li>
		{else}
        	<li> <button type="button" class="btn btn-info" data-toggle="modal" href="#loginModal"><i class="icon-user icon-large"></i></button> </li> 
		{/if}
       
	   
      </ul> 
	  
     </div> 
    </div> 
   </div> 
</div>
  
    
