{include="common/header"}

{include="common/topnav"}

<div class="row-fluid">
<!-- PAGE CONTENT BEGINS HERE -->

<div class="error-container">

<div class="well">
	<h1 class="grey lighter smaller">
		<span class="blue bigger-125"><i class="icon-random"></i> 500</span> Something Went Wrong
	</h1>
	<hr>
	<h3 class="lighter smaller"> But we are working <i class="icon-wrench icon-animated-wrench bigger-125"></i> on it! </h3>
	
	<div class="space"></div>
	<div>

		<h4 class="lighter smaller">Meanwhile, try one of the following:</h4>
		<ul class="unstyled spaced inline bigger-110">
			<li><i class="icon-hand-right blue"></i> Read the faq</li>
			<li><i class="icon-hand-right blue"></i> Give us more info on how this specific error occurred!</li>
		</ul>
	</div>
	
	<hr>
	<div class="space"></div>
	
	<div class="row-fluid">
		<div class="center">
			<a href="#" class="btn btn-grey"><i class="icon-arrow-left"></i> Go Back</a>
			<a href="#" class="btn btn-primary"><i class="icon-dashboard"></i> Dashboard</a>
		</div>
	</div>
</div>

</div>


<!-- PAGE CONTENT ENDS HERE -->
						 </div>
						 
						 


{include="common/footer"}

