#preview {
	font:13.34px helvetica,arial,freesans,clean,sans-serif;
	color:black;
	line-height:1.4em;
	background-color: #F8F8F8;
	padding: 0.7em;
}
#preview p {
	margin:1em 0;
	line-height:1.5em;
}
#preview table {
	font-size:inherit;
	font:100%;
	margin:1em;
}
#preview table th{border-bottom:1px solid #bbb;padding:.2em 1em;}
#preview table td{border-bottom:1px solid #ddd;padding:.2em 1em;}
#preview input[type=text],input[type=password],input[type=image],textarea{font:99% helvetica,arial,freesans,sans-serif;}
#preview select,option{padding:0 .25em;}
#preview optgroup{margin-top:.5em;}
#preview pre,code{font:12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;}
#preview pre {
	margin:1em 0;
	font-size:12px;
	background-color:#eee;
	border:1px solid #ddd;
	padding:5px;
	line-height:1.5em;
	color:#444;
	overflow:auto;
	-webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;border-radius:3px;
}
#preview pre code {
	padding: 10px;
	font-size:12px;
	border:none;
}
#preview code {
	font-size:12px;
	padding:0 .2em;
	border:1px solid #dedede;
}
#preview img{border:0;max-width:100%;}
#preview abbr{border-bottom:none;}
#preview a{color:#4183c4;text-decoration:none;}
#preview a:hover{text-decoration:underline;}
#preview a code,a:link code,a:visited code{color:#4183c4;}

#preview h1,h2,h3,h4,h5,h6{border:0;}
#preview h1{font-size:170%;border-top:4px solid #aaa;padding-top:.5em;margin-top:1.5em;}
#preview h1:first-child{margin-top:0;padding-top:.25em;border-top:none;}
#preview h2{font-size:150%;margin-top:1.5em;border-top:4px solid #e0e0e0;padding-top:.5em;}
#preview h3{margin-top:1em;}
#preview hr{border:1px solid #ddd;}
#preview ul{margin:1em 0 1em 2em;}
#preview ol{margin:1em 0 1em 2em;}
#preview ul li,ol li{margin-top:.5em;margin-bottom:.5em;}
#preview ul ul,ul ol,ol ol,ol ul{margin-top:0;margin-bottom:0;}
#preview blockquote{margin:1em 0;border-left:5px solid #ddd;padding-left:.6em;color:#555;}
#preview dt{font-weight:bold;margin-left:1em;}
#preview dd{margin-left:2em;margin-bottom:1em;}
@media screen and (min-width: 914px) {
    #preview {
        margin:0 auto;
    }
}
@media print {
	#preview table, pre {
		page-break-inside: avoid;
	}
	#preview pre {
		word-wrap: break-word;
	}
}