
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>
  
<article class="post q-highlight" id="q-1010000000195730">
<div class="status">
	<span class="comments" title="15 个投票">15 <i class="icon-thumbs-up"></i></span>
	<span class="votes" title="8 个回复">8 <i class="icon-comments-alt"></i></span>
</div>
<div class="p-summary">
	<a class="author tip-pop" href="http://segmentfault.com/u/%E9%99%88%E5%8A%AD%E7%8E%AE" data-tip="n:陈劭玮 &lt;cite&gt;•&lt;/cite&gt; &lt;strong&gt;19&lt;/strong&gt;" original-title=""><img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/190/325/1903256062-1030000000142450_huge128" alt="陈劭玮"></a>
	<h2><a href="/article/123123213" title="python中在哪些情况下必须使用global来声明全局变量？">python中在哪些情况下必须使用global来声明全局变量？</a></h2>
	<div class="meta">
		
		<i class="icon-eye-open"></i>
		<span class="views">26 次浏览</span>
		
		<i class="icon-tags"></i>
		<ul class="meta-tags">
			<li><a data-tid="1040000000089534" href="/tag/python">python</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">css</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">javascript</a></li>,
			<li><a data-tid="1040000000089534" href="/tag/python">php</a></li>
		</ul>
		
		<i class="icon-time"></i>
		<span class="datetime">6小时前</span>
	</div>
</div>
</article>


<div class="pagination ">
  <ul>
    <li><a href="#">Prev</a></li>
	
	<li><a href="">1</a></li>
	<li><a href="">2</a></li>
	<li><a href="">3</a></li>
	<li><a href="">4</a></li>
	<li><a href="">5</a></li>
	<li><a href="">6</a></li>
	<li><a href="">7</a></li>
	<li><a href="">8</a></li>
	<li><a href="">9</a></li>
	<li><a href="">10</a></li>
	<li><a href="">11</a></li>
	<li><a href="">12</a></li>
	
    <li><a href="#">Next</a></li>
  </ul>
</div>
