

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	background-color: rgb(228, 230, 233);
	font: 14px/1.92em Helvetica, '微软雅黑', Segou UI, Heiti SC;
}
input, button, select, textarea, h1, h2, h3, h4, h5, h6 {
	font-family: Titillium Web, "RTWS ShangGothic", '微软雅黑', Segou UI, Heiti SC;
}


#container{
	background-color: white;
	border-radius: 5px;
	color: rgb(85, 85, 85);
	display: block;
	margin: 20px auto 40px;
	padding: 0 20px;
}

.footer {
	font-size: 12px;
	color: #ccc;
	line-height: 5px;
	border-top: dotted 1px #ccc;
	padding-top: 18px;
}


/*	top navigation bar
================================================== */
#container .navbar .navbar-inner {
	color:white;
	background-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0627451) 0px 1px 4px 0px;
	background-color: #53A3B5;
	background-repeat: repeat-x;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.0627451) 0px 1px 4px 0px;
	color: rgb(85, 85, 85);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 40px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: -27px;
	margin-right: -27px;
	margin-top: 0px;
	padding: 0 20px;
	border: 1px solid #ccc;
}

#container .navbar .brand, #container .navbar .nav>li>a {
	color: #fff;
	text-shadow: none;
}

.searchform input {
	border-right: none;
}
.searchform span {
	color: #aaa;
	border-left: none;
}
.searchform span i {
	cursor: pointer;
}

#container .navbar #main-menu {
	background-color: #53A3B5;
}

/*	go to top 
================================================== */
.backToTop {
	position: fixed;
	bottom: 30px;
	z-index: 1000;
	right:35px;
	background-color:#53a3b7;
	border-radius: 7px;
}
.backToTop a {
	color:white;
	width: 50px;
	height: 50px;
	display: block;
	margin: 0;
}
.backToTop a:hover {
	background-color:#9bd9e9;
	text-decoration: none;
	border-radius: 7px;
}
.backToTop a>i {
	line-height: 42px;
	font-size: 58px;
}

/*	Home Page Article List 
================================================== */
.post {
	border-bottom:1px dotted #eee;
	padding:14px 10px;
	word-wrap:break-word;
}
.post .status {
	float:left;
	width:54px;
}
.post .status .comments {
	background-color:#6fb3e0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.post .status span {
	display:block;
	padding-left:5px;
	height:22px;
	line-height:22px;
	font-size:14px;
	color:#FFF;
}
.post .status span>i {
	float:right;
	margin:4px;
}
.post .status .votes {
	background:#f3f3f3;
	color:#999;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.post .p-summary {
	margin-left:74px;
}
.post .p-summary .author {
	float:right;
	margin:2px 0 0 10px;
	line-height:1;
}
.post h2 {
	line-height:22px;
	font-size:15px;
	margin:0 0 10px;
}
.post h2 a {
	color:#317eac;
}
.post .meta {
	color:#999;
}
.avatar-40 {
	width:40px;
	height:40px;
	border-radius:6px;
}
.post .meta {
	font-size:12px;
}
.post .meta .views,.post .meta .meta-tags,.post .meta .datetime,.post .meta .meta-user {
	padding-left:0px;
	margin-right:15px;
}
.post .meta .meta-tags {
	list-style-type:none;
	display:inline;
}
.post .meta .meta-tags {
	padding:0;
	margin:0 0 10px 2px;
	margin-right:15px;
}
.post .meta .meta-tags li {
	position:relative;
	display:inline-block;
}
.post .meta .meta-tags li>a {
	color: #999;
}



/*	sidebar
================================================== */

#sidebar .banner {
	background-image: linear-gradient(#FEE074, #FEE074 5%, #FEE074);
	color: white;
	width: 180px;
	height: 44px;
	font-size: 26px;
	padding-top: 25px;
	border-radius: 10px;
	border-color: #e6e6e6;
}
#sidebar a.banner:hover{
	color: white;
}

#sidebar .nav-group {
	margin-top: 30px;
	width: 202px;
	background-color: #eeeeee;
	padding-top: 8px;
	padding-bottom: 5px;
	border-radius: 5px;
}

#sidebar #sidebar-nav li {
	margin: 8px;
	line-height: 25px;
	margin-left: 14px;
}
#sidebar #sidebar-nav li a {
	margin-left: 3px;
}
#sidebar h2 {
	font-size: 17.5px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
	width: 200px;
}

#sidebar h2 i{
	color: gray;
	margin-right: 6px;
}
#sidebar #myTags {
	width: 208px;
}
#sidebar #myTags .user-tag { 
	margin-top: 4px;
	line-height: 15px;
	background-color: #eee;
	color: #999;
	background-image: linear-gradient(#eee, #eee 5%, #eee);
}

/*	article page style
================================================== */
#pagewaiting {
	height: 500px;
}
#pagewaiting .icon-spinner.icon-spin.icon-4x {
	margin-top: 150px;
}


/*	logIn dialog
================================================== */
.modal-footer {
	text-align: center;
}
.register-submit {
	margin-top: 12px;
}
.register-submit button {
	width: 120px;
	margin: 15px 4px 15px;
}


/*	tag page
================================================== */
.tag-description {
	
}
.tag-description .span2 {
	margin-bottom: 0px;
}
.tag-description .span4 p {
	font-size: 12.5px;
	color:#999;
	width: 450px;
}

/*	book create page
================================================== */
.book_create_h2 {
    width: 480px;
    background-color: #ddd;
    padding: 9px;
    display: block;
    border-radius: 5px;
    font-size: 18px;
}
.book_create_main {
	margin-bottom: 60px;	
}

.book_create_submitbtn .btn {
	margin-left: 20px;
}
/*	responsive Code Below
================================================== */
/* Large desktop */
@media (min-width: 1200px) {

	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
	 	width: 940px;
	}
	
	#container #sidebar {
		width: 240px;
		margin-left: 0px;
	}
	
	#container #mainbar {
		width: 700px;
		margin-left: 0px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }


.article-view {
	border-radius: 10px;
}

